</div><!-- fin-main -->
</div></div>
<%- include('hms-module-odoo-end') %>
<%- include('financials-modals') %>
<script src="/js/financials.js"></script>
<script src="/js/accounting-odoo.js"></script>
<%- include('footer') %>
