<%
var _lang = locals.lang || 'en';
var _t = locals.t || function (k) { return k; };
%>
<form method="post" action="/set-lang" class="login-lang-form">
  <span class="login-lang-form__label"><%= _t('language.label', { ns: 'common', defaultValue: 'Language' }) %></span>
  <button type="submit" name="lang" value="en" class="login-lang-form__btn<%= _lang === 'en' ? ' is-active' : '' %>">EN</button>
  <button type="submit" name="lang" value="fr" class="login-lang-form__btn<%= _lang === 'fr' ? ' is-active' : '' %>">FR</button>
</form>
