<%
  var _avatarEmoji = locals.userProfileEmoji || '🧑';
  var _avatarPhoto = locals.userProfilePhoto || '';
  var _avatarClass = locals.avatarClass || 'hms-user-avatar hms-user-avatar--md';
  var _initials = locals.userInitials || '';
  var _useInitials = !_avatarPhoto && _initials;
%>
<span class="<%= _avatarClass %><% if (_useInitials) { %> hms-user-avatar--initials<% } %>" aria-hidden="true">
  <% if (_avatarPhoto) { %>
    <img src="/uploads/<%= _avatarPhoto %>" alt="" style="width:100%;height:100%;object-fit:cover;border-radius:inherit;">
  <% } else if (_useInitials) { %>
    <%= _initials %>
  <% } else { %>
    <%= _avatarEmoji %>
  <% } %>
</span>
